body {
    background-color: rgb(255, 255, 255);
}

#header {
    color: black;
    font-size: 12px;
}
h1 {
    color: black;
}

#searched-city {
    color:black;
}

#current-city {
    background-image: var(--bs-gradient);
    background-color:#000000;

