body {
    background-color: rgb(255, 255, 255);
}

#header {
    color: rgb(247, 10, 10);
    font-size: 12px;
    background-color: rgba(2, 2, 197, 0.568);
}
h1 {
    color: black;
}

#searched-city {
    color:black;
    margin-left: 20px;
}

#current-city {
    background-image: var(--bs-gradient);
    background-color:#000000;
}

#todays-weather li {
    list-style: none;
}

#todays-weather {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}

#date {
    margin-left: 20px;
}